<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
    <div class="container" style="text-align:center !important"><br />
        <div class="jumbotron">
            <h1 class="display-3"><i class="fa fa-cube" aria-hidden="true"></i> Mi Red Social.</h1><br />
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit ligula nunc, sit amet vehicula dolor finibus vitae. Donec ullamcorper eu metus id lobortis. In et eleifend magna. Etiam a lectus nunc. </p>
            <br /><a class="btn btn-lg btn-primary" href="/register" role="button">Unirse ahora</a>
            &nbsp;<a class="btn btn-lg btn-secondary" href="/login" role="button">Ya tengo cuenta</a>
        </div>
    </div>
</body>

</html>