<p>
    {% if profile.avatar %}
        <img src="/media/{{profile.avatar}}" style="width:150px;height:150px;border-radius:75px;margin-top:3px;"/>
    {% else %}
        <img src="/static/img/default.jpg" style="width:150px;height:150px;border-radius:75px;margin-top:3px;"/>
    {% endif %}
</p>
<h5><a href="/{{profile.user.username}}" class="ulink">{{profile.alias|truncatechars:25}}</a></h5>
<p><a href="/{{profile.user.username}}" class="ulink">@{{profile.user.username|truncatechars:30}}</a></p>
{% if profile.description %}
    <p>{{profile.description}}</p>
{% endif %}
<p>
    {% if profile.link %}
        <i class="fa fa-link" aria-hidden="true"></i> &nbsp;<a href="{{profile.link}}">{{profile.link|truncatechars:25}}</a><br>
    {% endif %}
    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; {{profile.user.date_joined|date:"F"}} de {{profile.user.date_joined|date:"Y"}} 
</p>
<!-- Botón de seguir -->
{% if request.user.is_authenticated %}
    {% if profile.user != request.user %}
        <form action="/{{profile.user}}/" method="post">
            {% csrf_token %}
            {% load social_extras %}
            {% user_has_relation profile.user request.user as has_relation %}
            {% if has_relation %}
                <input type="submit" class="btn btn-block btn-danger" role="button" value="Dejar de seguir" />
            {% else %}
                <input type="submit" class="btn btn-block btn-primary" role="button" value="Seguir" />
            {% endif %}
        </form>
    {% endif %}
{% endif %}
<br>