{% extends 'base/base.html' %} {% block content %}
<div class="row">
    <div class="col-lg-3">
        {% if request.user.is_authenticated %}
            {% if request.session.profile.avatar %}
                <img src="/media/{{request.session.profile.avatar}}" style="width:56px;height:56px;border-radius: 28px;float:left;margin-right:12px;" />
            {% else %}
                <img src="/static/img/default.jpg" style="width:56px;height:56px;border-radius: 28px;float:left;margin-right:12px;" />
            {% endif %}
            <h5><a href="/{{request.user.username}}" class="ulink">{{request.session.profile.alias}}</a></h5>
            <p><a href="/{{request.user.username}}" class="ulink">@{{request.user.username}}</a></p>
        {% endif %}
        <table class="table" style="margin-top:20px !important;">
            <tbody>
                <tr>
                    <td class="td-wrap" style="padding: 0.3rem;">
                        <small><a href="/{{request.user.username}}/"><b>Mensajes</b></a></small>
                    </td>
                    <td class="td-wrap" style="padding: 0.3rem;"><b>{{profile.message_set.all|length}}</b></td>
                </tr>
                <tr>
                    <td class="td-wrap" style="padding: 0.3rem;">
                        <small><a href="/{{request.user.username}}/responses"><b>Respuestas</b></a></small>
                    </td>
                    <td class="td-wrap" style="padding: 0.3rem;"><b>{{profile.response_set.all|length}}</b></td>
                </tr>
                <tr>
                    <td class="td-wrap" style="padding: 0.3rem;">
                        <small><a href="/{{request.user.username}}/following"><b>Siguiendo</b></small></a>
                    </td>
                    <td class="td-wrap" style="padding: 0.3rem;"><b>{{profile.follower_set.all|length}}</b></td>
                </tr>
                <tr>
                    <td class="td-wrap" style="padding: 0.3rem;">
                        <small><a href="/{{request.user.username}}/followers"><b>Seguidores</b></small></a>
                    </td>
                    <td class="td-wrap" style="padding: 0.3rem;"><b>{{profile.following_set.all|length}}</b></td>
                </tr>
                <tr>
                    <td class="td-wrap" style="padding: 0.3rem;">
                        <small><a href="/{{request.user.username}}/likes"><b>Me gusta</b></small></a>
                    </td>
                    <td class="td-wrap" style="padding: 0.3rem;"><b>{{profile.like_set.all|length}}</b></td>
                </tr>
        </table>
    </div>
    <div class="col-lg-6">
        <form action="" method="post">
            {{form}}
            {% csrf_token %}
            <input type="submit" class="btn btn btn-primary btn-block" value="Publicar" />
        </form>
        {% for message in messages %}
        <div class="comment" id="m-{{message.id}}"><br>
            <a href="/{{message.profile.user}}" class="ulink">
                {% if message.profile.avatar %}
                    <img src="/media/{{message.profile.avatar}}" style="width:56px;height:56px;border-radius:28px;float:left;margin-right:12px;" />
                {% else %}
                    <img src="/static/img/default.jpg" style="width:56px;height:56px;border-radius:28px;float:left;margin-right:12px;" />
                {% endif %}
            </a>
            <div style="padding-left: 70px">
                <h6>
                    <a href="/{{message.profile.user}}" class="ulink">{{message.profile.alias|truncatechars:25}}</a> ·
                    <small>
                        <a href="/{{message.profile.user}}" class="ulink">@{{message.profile.user|truncatechars:30}}</a> · 
                        <span title="{{message.date|date:"H:i - j M. Y"|lower}}">{{message.date|date:"j M. Y"|lower}}</span>
                    </small>
                </h6>
                <p>{{message.text}}</p>
                <!-- Botón conversación -->
                {% include "social/includes/conversation_button.html" with message=message %} 
                <!-- Botón me gusta -->
                {% include "social/includes/like_button.html" with message=message %}
                <!-- Botón borrar mensaje -->
                {% include "social/includes/delete_button.html" with message=message %} 
            </div>
        </div>
        {% endfor %}
        <!-- Paginador -->
        {% include "social/includes/custom_paginator.html" with objects=messages %} 
        <br class="d-block d-md-none" />
    </div>
    <div class="col-lg-3">
        <!-- Recomendaciones -->
        {% include "social/includes/user_right_recos.html" %} 
    </div>
</div>
{% endblock content %}